<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create user</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body>
    <div class="w-full h-screen bg-zinc-900 p-10">
        <form class="flex flex-row gap-6" method="post" action="/create">
            <input type="text" name="username" placeholder="Username.." class="px-3 py-2 rounded-md bg-transparent border-2 border-zinc-800 text-white">
            <input type="text" name="name" placeholder="Name.." class="px-3 py-2 rounded-md bg-transparent border-2 border-zinc-800 text-white">
            <input type="email" name="email" placeholder="Email.." class="px-3 py-2 rounded-md bg-transparent border-2 border-zinc-800 text-white">
            <input type="password" name="password" placeholder="Password.." class="px-3 py-2 rounded-md bg-transparent border-2 border-zinc-800 text-white">
            <input type="number" name="age" placeholder="Age.." class="px-3 py-2 rounded-md bg-transparent border-2 border-zinc-800 text-white">

            <input type="submit" value="Create User" class="px-4 py-2 rounded-md bg-blue-500 text-white">
        </form>
    </div>
</body>

</html>